[2015-08-25 18:49] chrisparnin opened #1 "Identify how to split data among spark clusters"
- [x] Find simple data set to work with.
- [x] Write PoC Prototype (AWS).
- [x] Compare to simple benchmark (say one machine).

[2015-08-25 18:50] chrisparnin opened #2 "Write one page summary for DGP"
- [x] Forward to me
- [x] Enroll.

[2015-08-27 23:34] #2 closed

[2015-09-04 17:41] sjoshi6 opened #3 "Identify the best method to authorize SSH public keys to cluster instances"
- [x] Read documentation of how SSH authorization works
- [x] Start using Ansible playbooks by manually configuring SSH Public keys in cloud instances
- [x] Determine API calls for AWS and Digitial Ocean to insert additional SSH authorized public keys.

[2015-09-04 17:42] sjoshi6 opened #4 "Anisble playbook to download and run Spark Setup - AWS"
- [x] Write playbook to download and start master
- [x] Write playbook to download and start slave
- [x] Write code to auto fill the Master url in slave playbook

[2015-09-04 17:46] sjoshi6 opened #5 "Setup Cluster of instances on AWS (Spark Independent)"
- [x] Spin up instances using boto
- [x] Assign tag names to instance
- [x] Find API calls to identify public IPs of the instances

[2015-09-04 17:47] #5 closed

[2015-09-04 18:07] chrisparnin commented on #3
I recently had to do this for setting up things when playing with vagrant for one of the workshops.

This is how I did things manually, so you can think about automating it:

[code]

Now you can ssh into your spark machine:
[code]

With ansible, you just set your inventory to have `ansible_ssh_private_key_file=./spark`

https://github.com/CSC-DevOps/Course/blob/master/Workshops/CM.md

For digitalo

[2015-09-11 21:51] sjoshi6 commented on #4
Manually inserting Master URL works.
Need to automate the url insert

[2015-09-11 21:53] #3 closed

[2015-09-11 21:55] sjoshi6 opened #6 "Auto insert Public SSH keys on AWS and Digital Ocean"
- [x] Perform SSH key lookup and create a new key if missing on AWS
- [x] Perform SSH key lookup and create a new key if missing on Digital Ocean

[2015-09-11 21:59] sjoshi6 commented on #1
Adding documentation of benchmark would be done later.

[2015-09-11 21:59] #1 closed

[2015-09-16 15:35] #6 closed

[2015-09-16 15:37] sjoshi6 opened #7 "Auto Create ansible inventory file"
- [x] Create inventory file for ansible
- [x] Auto add new cluster nodes to inventory file
- [x] Manange execution order master first then slaves.

[2015-09-16 15:39] sjoshi6 opened #8 "Identify the method to submit spark jobs using master url"
- [x] Submit test spark job to Spark Master url
- [x] Try programmatic access to cluster using PySpark command line

[2015-09-16 15:41] sjoshi6 opened #9 "Find way to setup Digital Ocean and AWS Tokens"
- [x] Identify the best way to insert Digital Ocean tokens and AWS access keys into Auto Spark Config.
- [x] Is a simple UI Web Interface necessary ?

[2015-09-19 19:53] #4 closed

[2015-09-19 19:53] sjoshi6 commented on #7
Done for AWS pending for Digital Ocean

[2015-09-23 15:39] chrisparnin opened #10 "Azure provisioning"
Support VM and cluster setup on Azure.

[2015-09-23 15:45] chrisparnin opened #11 "JSON configurations and UI"
* [x] Curate a set common image settings and commonly used clusters.
* [x] Create a simple UI on top.

Consider using Jade with express
http://expressjs.com/guide/using-template-engines.html

[2015-09-23 15:47] chrisparnin opened #12 "Explore simple spark job on tweets dataset"
Dataset sent via email.

[2015-09-23 15:50] chrisparnin commented on #12
How do you split out .json across spark nodes?

[2015-09-26 16:44] #8 closed

[2015-09-29 18:50] chrisparnin opened #13 "Unified command line driver"
Instead of running a collection of platform specific shell scripts, we'd like to unify process into one command-line driven script.

    autospark provision --provider=do --template=templates/large.json --output=spark.context
    autospark job --context=spark.context jobs/tweets.py

[2015-09-29 18:52] sjoshi6 commented on #13
Got it. I will work on it

[2015-09-30 15:40] sjoshi6 opened #14 "Document Command Line Inputs"

[2015-09-30 15:44] sjoshi6 commented on #14
./launch_spark_on_aws.sh spark001 3 t2.micro us-west-2 amzn SparkGroup

[2015-09-30 15:45] sjoshi6 commented on #14
./launch_spark_on_aws.sh spark001 3 t2.micro us-west-2 ansible_key SparkGroup

[2015-09-30 15:56] sjoshi6 opened #15 "Fix the link to private keys used to launch"
- [x] AWS - Fix the private_key path for ansible inventory
- [x] Digitial Ocean - Fix the private_key path for ansible inventory

[2015-09-30 15:57] sjoshi6 opened #16 "Create documentation for launching steps"

[2015-09-30 16:00] sjoshi6 opened #17 "Fix AWS instance id launch delay"

[2015-09-30 16:01] sjoshi6 opened #18 "Fix the permission for master.sh and slave.sh to executable"

[2015-10-08 16:18] #18 closed

[2015-10-08 19:37] sjoshi6 commented on #17
KeyPair:172.31.39.113
Traceback (most recent call last):
  File "ec2_connector.py", line 265, in <module>
    main(sys.argv[1:])
  File "ec2_connector.py", line 250, in main
    wait_for_public_ip(reservation)
  File "ec2_connector.py", line 123, in wait_for_public_ip
    while instance.update() != "running":
  File "/usr/local/lib/python2.7/dist-packages/boto/ec2/instance.py", line 413, in update

[2015-10-09 22:51] #15 closed

[2015-10-09 22:52] #14 closed

[2015-10-09 22:52] #16 closed

[2015-10-09 22:54] sjoshi6 commented on #13
- [x] Interactive Unified main_launcher.sh
- [x] Non interactive Unified command launcher
- [x] Output of the unified launcher as expected

[2015-10-09 22:54] sjoshi6 commented on #12
- [x] Determine the json schema and load it in SQLContext
- [x] Splitting json over multiple nodes

[2015-10-10 13:39] chrisparnin commented on #13
Some errors with current version
[code]

[2015-10-10 13:41] chrisparnin opened #19 "Avoid shell scripts"
As much as possible, avoid use of shell scripts in building this tool. Either use node.js or python as the engine driving the program.

Use package managers to specify dependencies, not shell scripts.

[2015-10-10 13:42] chrisparnin opened #20 "Refactor project folders"
Move launchers into a new directory: "connectors"

[2015-10-10 14:58] sjoshi6 commented on #19
Got it. I will re write parts of code used to launch the cluster using node.js

[2015-10-14 15:47] chrisparnin commented on #17
Some projects to reference:
https://github.com/p31-d3ng/HW/blob/master/HW1/hw1.js

[2015-10-15 18:37] chrisparnin commented on #13
Some nice inspiration from otto project (by makers of vagrant):
https://ottoproject.io/

[2015-10-18 21:34] #20 closed

[2015-10-24 01:43] chrisparnin opened #21 "HN Dataset"
https://news.ycombinator.com/item?id=10440502

About 4GB.

[2015-10-24 19:51] sjoshi6 commented on #19
Converting shell scripts to python / js scripts
- [x] AWS Launcher shell script to python launcher
- [x] Digital Ocean shell script to python launcher

[2015-10-24 19:51] sjoshi6 opened #22 "Remove the Ansible prompt for connection confirmation"

[2015-10-24 19:52] #11 closed

[2015-10-24 19:52] #9 closed

[2015-10-24 19:52] sjoshi6 commented on #7
Done for Digital Ocean

[2015-10-24 19:52] #7 closed

[2015-10-24 19:53] sjoshi6 commented on #13
Converted the command line driver to node js script

[2015-10-24 20:31] sjoshi6 commented on #17
## AWS uses an eventual consistency model.

- 10% of times the boto module is expected to fail due to consistency lag while creating bulk instances.
- Best solution available online is to add a hardcoded wait between run_instances and call for instance_id

Solution:
- Added **time.sleep(60)** to the code.

[2015-10-24 20:31] #17 closed

[2015-10-24 20:33] sjoshi6 commented on #21
I will have a look into it.

[2015-10-24 20:33] #12 closed

[2015-10-26 02:39] #19 closed

[2015-10-28 15:02] sjoshi6 opened #23 "Complete the UI based launch flow for AWS and DO"

[2015-10-28 15:03] sjoshi6 opened #24 "One time machine setup per OS"
Find how to perform the one time machine setup per OS

- [x] Ubuntu
- [ ] Linux AMI
- [ ] MacOS
- [ ] RedHat

[2015-10-28 15:56] sjoshi6 opened #25 "Ask for keys in interactive mode and create a hidden dir to store files"
- [x] Accept keys from command line - Digital Ocean
- [x] Accept keys from command line - AWS
- [x] Accept public ssh key path from command line
- [ ] Store the keys in a hidden dir

[2015-10-28 16:03] sjoshi6 opened #26 "Create a docker image for the launcher"

[2015-10-28 16:03] sjoshi6 opened #27 "Fix the node.js stdout driver issue"

[2015-11-04 18:24] chrisparnin opened #28 "Creating a spark job wrapper that will connect to provisioned cluster"
Simple command script that takes in

* spark url or path to context file
* spark job to run (py file, etc.)

[2015-11-04 18:26] chrisparnin opened #29 "A simple script to populate spark cluster with desired data"
[code]

[2015-11-04 18:56] chrisparnin opened #30 "autospark teardown"
Need a command to teardown infrastructure.

[2015-11-04 19:24] chrisparnin opened #31 "Create simple screencast"
As a final task, will want to create a simple screencast video/gif to demonstrate project.

A short report documenting the tool, that would be helpful for future contributors.

[2015-11-04 23:42] #30 closed

[2015-11-04 23:43] sjoshi6 commented on #24
The more appropriate way is to create a docker image for the driver program

[2015-11-04 23:43] #24 closed

[2015-11-07 17:41] #29 closed

[2015-11-07 17:42] #13 closed

[2015-11-08 05:12] #28 closed

[2015-11-08 05:18] sjoshi6 opened #32 "Update Readme file"

[2015-11-08 17:21] sjoshi6 commented on #27
The issue is not with node js stdout. Python screen print does not work will node js exec call.
Python outputs are shown after every command completes execution.

[2015-11-08 17:21] #27 closed

[2015-11-08 17:50] #32 closed

[2015-11-11 15:39] sjoshi6 opened #33 "Digital ocean requesting password for scp. Needs investigation"

[2015-11-11 15:50] chrisparnin commented on #33
Properly related to scp not using ssh_key

[2015-11-11 16:38] sjoshi6 opened #34 "suppress authentication (yes /no ) prompt during autospark-load scp"

[2015-11-11 16:39] sjoshi6 opened #35 "Clear the master_inventory , slave_inventory, master.sh, slave.sh before every run"

[2015-11-11 21:10] #35 closed

[2015-11-11 21:11] #34 closed

[2015-11-11 21:11] sjoshi6 commented on #33
Related to ssh_key and login user for digital ocean

[2015-11-11 21:11] #33 closed

[2015-11-15 15:07] chrisparnin opened #36 "Prepare binary release"
Looking for simple enclosure for distribution. One of these tools might be promising:

* http://enclosejs.com/
* http://www.jedi.be/blog/2013/05/14/Compiling%20-%20packaging%20a%20nodejs%20project%20as%20a%20single%20binary/
* http://cylonjs.com/blog/2014/11/19/creating-multiplatform-precompiled-binaries-for-node-modules/

[2015-11-18 16:55] chrisparnin opened #37 "Data load: Future enhancement HDFS cluster supportg"
Generally there modes of operation for accessing data.

* Copy and load from local filesystem on each node.
* Store in hdfs system.
* S3 bucket.

For the second case, typically this would be on a separate cluster -- spark machines are best as RAM operated machines, other systems/cluster can be optimized for fast disk access.

[2015-11-23 02:58] #26 closed

[2015-11-24 02:29] #31 closed

[2015-11-24 02:29] #25 closed

[2015-11-24 02:29] #22 closed

[2015-11-30 03:07] sjoshi6 opened #38 "Create a final project report"

[2015-11-30 03:07] #38 closed

[2015-12-07 15:42] timm opened #39 "autospark on HPC?"
would autospark simplify/ complicate the task of booting spark on NC state's HPC?

[2015-12-07 15:47] chrisparnin opened #40 "Integrate VLC driver as provider option"
You can connect to VCL over XML-RPC: https://arjie.com/2014/04/10/using-the-vcl-xml-rpc-interface-with-python/

* [ ] Can use this example as [a starting place](https://github.ncsu.edu/cjparnin/vcl-opsworks).

[2015-12-07 16:00] sjoshi6 commented on #39
Dear Dr. Tim,

Currently autospark does not support a cluster launch on VCL.

However the only missing part is to start a group of instances on VCL.
 rest all steps could be reused as they are primarily based on Ansible / Python.

Dr. Parnin has created a new git issue to onboard VCl as a driver.

[2015-12-07 16:03] chrisparnin commented on #39
The main issue I think with HPC is that you don't get to control to software/images. You have to do everything in userspace.
https://www.ncsu.edu/hpc/About/Services.php

@sjoshi6 How much would ansible still be able to work without root access?

Otherwise, #40 might be a good alternative, and it follows the google way. Many cheap nodes do the job well.

[2015-12-07 16:09] sjoshi6 commented on #39
I have not experimented with VCL HPC. I would have to give it a run and then confirm how much of it works without root access

[2015-12-07 16:12] chrisparnin commented on #39
@sjoshi6 Tim will probably have a student investigate over the break. Thanks!

[2015-12-10 21:16] timm opened #41 "please add to alt-code"
@imaginationsuper

@dichen001

@amritbhanu

[2015-12-14 21:29] chrisparnin commented on #41
Added.

On Thu, Dec 10, 2015 at 4:16 PM, Tim Menzies <notifications@github.com>
wrote:

[2015-12-17 19:56] timm commented on #41
@imaginationsuper
@dichen001
@amritbhanu

please review the issue track https://github.com/alt-code/AutoSpark/issues/39

[2015-12-18 08:08] amritbhanu commented on #41
yes dr menzies, I am on it.

[2015-12-20 07:15] dichen001 commented on #41
Hi Dr. @timm ,
I have looked through this project and figure out how it works. You want us to focus on booting up spark on HPC and leave VCL alone, right?  Still need some time to find out how many existing code we can use on HPC.

Hi @amritbhanu @samrudhisharma ,
I am in our lab most of the time.  Welcome for you guys to join me here if you want to discuss in person.

-Jack

[2016-01-07 03:39] dichen001 commented on #41
Anyone succeed in installing Spark on HPC?   I have tried to fix the error below during installment, but making no progress.  Any advice will be appreciated.
[code]

[2016-01-08 21:15] chrisparnin opened #42 "Project Proposal"
Please draft project proposal in comments here.

[2016-01-08 21:17] chrisparnin opened #43 "Be able to run and install autospark locally"
Install locally and test installation.

* Need node.js, python and ansible.

[2016-01-09 17:23] dichen001 opened #44 "Some extra permissions may be needed from HPC"
Still stuck by the permission issues on HPC.  Without 'sudo', we could not install Spark on HPC. Tried Docker too, but Docker has to deal with the OS. So it also need root permission.

I am just wondering if we could get some extra permissions from HPC.  If anyone has any idea for installing Spark without using the root permission, please share here.

Also, I wrote a email to the help-desk, asking

[2016-01-10 04:06] chrisparnin commented on #44
You'd have to install the dependencies locally. Docker would most likely be a no go, as HPC cluster is probably so old, it won't have the necessary linux kernel  updates.

Supposedly, this works even on a Raspberry Pi 2: https://darrenjw2.wordpress.com/2015/04/17/installing-apache-spark-on-a-raspberry-pi-2/

[2016-01-10 04:12] dichen001 commented on #44
Hi @chrisparnin , thanks for your reply.

I do have tried to install all the Spark dependencies locally, but the problem stops me is in the end of #41.  Any idea for those errors?

[2016-01-10 04:13] chrisparnin commented on #44
Instructions used for setting up spark on AWS might be helpful, but would have to substitute how to deal with things questions like, is there java 7 available, etc?

https://github.com/alt-code/AutoSpark/blob/master/Notes/spark_setup.md

[2016-01-10 04:19] chrisparnin commented on #41
Are you using `build/mvn` to install?

[2016-01-10 04:19] dichen001 commented on #44
As you can see for the installment on AWS, almost every step uses 'sudo'.  I believe all the dependencies for installing Spark locally, like Java, sbt, Maven etc, should have been installed on my HPC account.  Maybe I should start over again and see if I can find any problem.

Thanks again.

[2016-01-10 04:20] chrisparnin commented on #41
Have you considered a pre-built package instead of from source?

[2016-01-10 04:23] dichen001 commented on #41
I remember I tried.  But it has been for a while. Not so sure about that. I will start over again, and see how it goes.

[2016-01-10 04:23] chrisparnin commented on #44
Except for apt-get to install java, none of the commands should need `sudo`.

Have you tried one of the pre-built binaries, such as:
http://apache.mirrors.hoobly.com/spark/spark-1.4.1/spark-1.4.1-bin-hadoop2.6.tgz

[2016-01-10 04:54] dichen001 commented on #44
Hi @chrisparnin , Problem solved.  Pre-built binaries works.  Thanks a lot.

[2016-01-10 04:56] chrisparnin commented on #44
:+1:

[2016-01-10 04:56] #44 closed

[2016-01-10 05:02] #41 closed

[2016-01-10 05:05] chrisparnin commented on #39
@dichen001 Can you write your notes about getting spark on HPC here when you're done playing with it? That will be useful for setting up autospark to work with HPC.

[2016-01-10 05:06] dichen001 commented on #39
Sure. Should I write directly following this issues?

[2016-01-10 05:08] chrisparnin commented on #39
Can create a markdown file in this repo and link to it.

[2016-01-10 05:10] dichen001 commented on #39
OK. I will do it soon.

[2016-01-10 06:36] dichen001 commented on #39
@chrisparnin just finished 1st version.

Hi, @imaginationsuper  @amritbhanu could you help test if you can install Spark on HPC follow my notes [here](https://github.com/alt-code/AutoSpark/blob/4b1940c27342181c2a9dbc1506535126375d14fa/Note%20for%20Spark%20installation%20on%20HPC.md).  If there is any problem with it, please let me know.
Thanks.

[2016-01-11 10:47] amritbhanu commented on #39
Thanks to you. I am able to successfully install spark on HPC.

[2016-01-11 17:04] amritbhanu commented on #40
@chrisparnin
Prof., while connecting to VCL over XML-RPC, I am getting an error. Can you help me on this?

[code]

[2016-01-11 17:37] chrisparnin commented on #40
Will want to try `ssh aagrawa8@152.46.17.86` to see if you can login manually.

[2016-01-11 17:48] amritbhanu commented on #40
No, I can't. I am assigned this IP address (152.7.98.223) to log onto VCL.
I am wondering where can I manually change the IP while using the commands?

[2016-01-11 18:30] sjoshi6 commented on #40
Maybe this would help.

There is a hosts file called inventory typically found along with anisble
playbook which has the list of IPs. you could use that to specify your IP
Address manually.

On Mon, Jan 11, 2016 at 12:48 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-01-11 18:39] chrisparnin commented on #40
In this case, I think the inventory is supposed to be built dynamically by the python code. Would have to see why its using a hardcoded or wrong ip.

[2016-01-11 18:45] sjoshi6 commented on #40
Yes , The inventory file is created by python dynamically. And it should write out the IP addresses of the instances that it launched .
An incorrect IP address in inventory could be added due to a failed previous run. Re running the cluster launch on a cloud vendor could resolve this. However the system only supports aws and digital ocean. Therefore an instance launched on VCL would need to be add

[2016-01-12 10:42] gohilankit commented on #42
Title : Auto configuration of Apache Spark Cluster and HDFS on NCSU VCL and HPC nodes

Summary :
Apache Spark is an open source cluster computing framework and one of the top Apache projects.It can be used for batch processing, running iterative algorithms as well as stream processing and has proven to offer a better performance than the traditional Hadoop Map Reduce tasks. Spark is designed to op

[2016-01-12 17:53] chrisparnin opened #46 "Identify simple experiment"
Find a simple dataset that should take at least an hour.

[2016-01-12 17:56] chrisparnin opened #47 "Run in simple experiment in AWS"
When #46 is done, use autospark to run in AWS.
Note how long job takes to run based on different cluster sizes.

[2016-01-12 17:59] chrisparnin opened #48 "Merge interfaces of VCL python driver with DO/AWS"
See if you can look at how AWS provision drivers work.

Copy and import the VCL opworks code into autospark.

Get the VCL python script to have the same "input" and "output" as the other drivers.

[2016-01-13 16:26] amritbhanu commented on #46
Just an update, we can run our original experiments on spark if we have the environment and all the needed packages installed on the machine. Just ran the experiment which are written in python on my local machine on spark.

So, if we can install the needed packages on the instances, we don't need to change our python code to scala.

[2016-01-13 16:57] chrisparnin commented on #46
Yes spark works with a lot of backends. But to truly take advantage of the infrastructure, you have to have jobs use spark constructs...e.g.:

[code]

[2016-01-13 17:20] chrisparnin opened #49 "Initialize paper template and figure out workflow"
Get a CSCW paper setup in repo.

Try getting working with sharelatex and put instructions on github/markdown.

[2016-01-14 03:04] chrisparnin commented on #39
Closing for now.

[2016-01-14 03:04] #39 closed

[2016-01-14 03:05] chrisparnin commented on #42
Looks good.
Please save as a pdf and follow instructions here for registering for research credits:
https://www.csc.ncsu.edu/dgp/researchcredits.html

[2016-01-14 22:38] #42 closed

[2016-01-14 22:38] gohilankit commented on #42
Registration complete. Closing the issue.

[2016-01-15 00:27] chrisparnin commented on #49
Wrong repo.

[2016-01-15 00:27] #49 closed

[2016-01-15 00:45] amritbhanu commented on #46
@gohilankit can you run this [code] (https://github.com/alt-code/AutoSpark/tree/master/Amrit/01-14) on AWS once it is set up? Let me know about the result and its runtime.

In the meantime I am changing our original rig of text mining in PySpark form for further use.

[2016-01-15 01:00] chrisparnin opened #50 "Load common data processing dependencies into environment"
* Support e.g., loading common python packages, etc.

[2016-01-17 16:22] gohilankit commented on #46
@amritbhanu The zip archive seems to be corrupt. I'm not able to extract it. Can you upload the text file again?

Archive:  jones.txt.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.

[2016-01-17 16:38] amritbhanu commented on #46
@gohilankit I uploaded the zip file on drive. Please download it from here. Here is the [link] (https://drive.google.com/file/d/0B6L_ShRNMys7c1RVbVQxcjBXMGc/view?usp=sharing)

Keep the extracted file and the running code in the same directory.

[2016-01-18 23:50] gohilankit commented on #47
Ran the experiment on 3-node r3.xlarge(memory-optimized) cluster with executor memory set to 10g.

Total run time was under 5 minutes. The results are [here](https://github.com/alt-code/AutoSpark/blob/master/Amrit/01-14/Results).

r3.xlarge Instance Details:
Memory - 30.5 GiB
Storage - 1 * 80 GB SSD
Pricing - 0.333$ per hour per instance

In a way, cluster with this configuration was under-utilize

[2016-01-18 23:53] amritbhanu commented on #47
We didn't need 30 Gb memory. On universities HPC, it took around 1hour before giving up. So, in a way we can say that the run time was drastically improved. But the HPC configurations are I guess like 1 GB ram.

[2016-01-18 23:59] chrisparnin commented on #47
This is quite a nice result. @timm 5 minutes seems pretty damn good.

[2016-01-18 23:59] chrisparnin commented on #47
@gohilankit What was the total cost?

[2016-01-19 00:01] amritbhanu commented on #47
Dr Parnin, we should run this experiment with lesser configurations as our HPCs just have 1 GB memory.

[2016-01-19 00:02] chrisparnin commented on #47
Sure. But that is also a limitation of the platform if you can't get higher GB...

[2016-01-19 00:04] amritbhanu commented on #47
I just want to make sure that we utilized the Spark parallel feature to reduce the run time. If we can have similar configurations of like 4-6 Gb each node.

[2016-01-19 00:08] gohilankit commented on #47
@chrisparnin It would be around 3-4$, including one unsuccessful experiment that I ran earlier. The actual cost hasn't reflected in my account so far.

[2016-01-19 17:51] chrisparnin commented on #47
Followup @gohilankit

* [ ] Run experiment on AWS with like a 2 GB each node (3 machines).
* [ ] Run on VLC to see how long it takes.

[2016-01-19 17:54] chrisparnin commented on #46
@amritbhanu Can you get your "shingling" experiment and hand-off to @gohilankit

[2016-01-21 17:40] amritbhanu commented on #40
@chrisparnin Professor, for connecting to VCL, it always prompt for user and pass. For launching multiple instances it will ask again and again.

I don't see any ssh lib support in xmlrcplib package. I want to uniquely identify the instances with the ssh private and public keys.

[2016-01-21 18:27] chrisparnin commented on #40
The way to solve this "manually" is to copy the ssh_key into VCL first (or
see if there is a way to do this automatically when reserving).

On Thu, Jan 21, 2016 at 12:40 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-01-22 23:08] amritbhanu commented on #40
I will look into the above soon.

In the meantime, I am having another issue of running any tasks using ansible playbook to run on the vcl hosts. This is what was happening at the original run [a starting place]  (https://github.ncsu.edu/cjparnin/vcl-opsworks) as well.
And Its throwing the same error again.
[code]

I am seeing some permission issues.
Any help in this regard would be great

[2016-01-22 23:20] amritbhanu commented on #46
@gohilankit read these instructions for running shingling results [here] (https://github.com/alt-code/AutoSpark/tree/master/Amrit/01-22)

[2016-01-24 10:04] gohilankit commented on #47
When I'm trying to launch an AWS cluster using Autospark, the cluster is not getting created. Unlike the demo video, the console logs does not show the info for cluster creation.

[code]

Upon some debugging, I found that check_ssh method in **ec2_connector.py** did not find an existing key pair nor creates a new one and exits from the else block of exception. The reason being it throws 'Unauthori

[2016-01-25 17:26] amritbhanu commented on #47
Please meet me, I should be able to help with that issue. Just check with your user Access Keys in the aws when you created it.

[2016-01-26 17:47] chrisparnin opened #51 "Wikipedia experiment replication..."
http://www.dmtk.io/lightlda.html

[2016-01-26 17:50] chrisparnin opened #52 "SSH Key Setup for VLC"
Try to setup the system by just getting a keypair generated.

Test with ssh -i private_key

http://askubuntu.com/a/4833

[2016-01-27 22:04] amritbhanu commented on #52
first success,

able to copy the ssh-key and able to load the packages.

![file](https://github.com/alt-code/AutoSpark/raw/master/Amrit/01-27/Screenshot%20from%202016-01-27%2016:43:20.png)

Next steps are communicating with the slave nodes.

[2016-02-09 17:58] amritbhanu opened #53 "Hall defect Prediction"
https://ulir.ul.ie/bitstream/handle/10344/1772/2011_hall%20(a).pdf?sequence=2

[2016-02-15 23:04] amritbhanu opened #54 "Automation is done"
The setup of booting spark on VCL with different nodes are done. You can find the repo [here] (https://github.com/amritbhanu/Spark_VCL-on-Ubuntu)

Some more steps can be automated. But that was not a concern, so havent done that. I will create the readme file on how to boot spark on VCL.

[2016-02-15 23:09] amritbhanu opened #55 "A failure while submitting the job"
I was able to successfully submit a job on master node which is being distributed to its 2 worker nodes.
But it failed to process it because of some extra thresholds set on the hardware of system which VCL instances aren't providing. I used the default config for setting the spark which needs to be changed. I am working on it.

In the meantime, figure shows the worker nodes and the following error

[2016-02-16 15:45] amritbhanu commented on #55
## Experiment on CS.txt (7 MB) file
### Results are successful.
 - The total time taken by each node and the tast distributed across slave nodes can be seen.
![file] (https://github.com/alt-code/AutoSpark/raw/master/Amrit/02-15/cs_lda.png)

## Experiment on jones.txt (84 MB) file
 - It didnt succeed by ending abruptly throwing Out of memory error. It happened initially with our experiments before

[2016-02-16 15:46] amritbhanu commented on #55
## Experiment on CS.txt (7 MB) file
### Results are successful.
 - The total time taken by each node and the tast distributed across slave nodes can be seen.

![file] (https://github.com/alt-code/AutoSpark/raw/master/Amrit/02-15/cs_lda_4.png)

## Experiment on jones.txt (84 MB) file

 - It didnt succeed by ending abruptly throwing Out of memory error. It happened initially with our experiments bef

[2016-02-16 17:50] gohilankit commented on #55
Try changing the driver memory and executor memory parameters while submitting the job.

[2016-02-16 18:20] amritbhanu opened #56 "java machine learning library"
## Few libraries to do it on Java
 - http://www.searchenginecaffe.com/2007/03/java-open-source-text-mining-and.html

[2016-02-16 18:38] amritbhanu commented on #55
## Tasks @gohilankit

- Can you try running your experiment again if you haven't got the config file? The parameter which you specified isn't working. It is still giving an error of Out of Memory.

- Your results showed that you have run it with 2g memory but right now I am looking at logs of spark and it took a maximum of 1247mb even when specified large memory of 2g and 3g. And thats the limit o

[2016-02-17 01:53] gohilankit commented on #55
I did the below steps to manually set up a cluster:
1. Copy Spark and hadoop on each node.
2. Set up HDFS for name & data nodes. Add slave IPs in $HADOOP_CONF_DIR/slaves file on master.
Configure $HADOOP_CONF_DIR/hdfs-site.xml, core-site, mapred-site, yarn-site
(Followed [this](http://arturmkrtchyan.com/how-to-setup-multi-node-hadoop-2-yarn-cluster) tutorial to set up HDFS.
4. Start HDFS using sta

[2016-02-17 02:32] chrisparnin commented on #55
Autospark doesn't setup a HDFS system by default, so that might be one
difference.

On Tue, Feb 16, 2016 at 8:53 PM, Ankit Gohil <notifications@github.com>
wrote:

[2016-02-17 03:03] gohilankit commented on #55
In my opinion,in cluster computing framework, it will be better to do I/O operations from a distributed file system so that not only input is read from one place but also the results are outputted to the same space. If not HDFS, it can be Amazon S3 or some other DFS.
So it will be a good idea to incorporate HDFS set up in AutoSpark.

[2016-02-17 03:04] chrisparnin commented on #55
Yes. I think we played with getting S3 working too.

On Tue, Feb 16, 2016 at 10:03 PM, Ankit Gohil <notifications@github.com>
wrote:

[2016-02-17 08:05] #40 closed

[2016-02-17 08:06] #48 closed

[2016-02-17 08:06] #52 closed

[2016-02-17 08:09] amritbhanu opened #57 "Setting it up on Centos"

[2016-02-17 22:00] amritbhanu commented on #57
@chrisparnin Prof., Parnin, I am getting into a very weird problem on Centos.
I am on the master node with Centos VM. While reserving for slave nodes, (slave nodes get reserved) if I try to SSH inside VCL API code, it is throwing with an error. Even ansible isnt able to install packages from within the code.
[code]
But if I do a normal ssh to the slave node, it is working fine. Even when I use ans

[2016-02-17 22:58] #47 closed

[2016-02-17 22:58] #43 closed

[2016-02-17 22:59] gohilankit commented on #51
Not moving forward with Microsoft's DMTK.

[2016-02-17 22:59] #51 closed

[2016-02-18 21:43] gohilankit commented on #56
- [ ] Extract text from PDFs

- [ ] Downcase

- [ ] Remove stopwords

- [ ] Stemming

- [ ] Shingling (Trigram generation)

- [ ] TF-IDF

- [ ] L2-Normalization

[2016-02-19 21:29] amritbhanu commented on #57
Just an update. I talked to Josh from the VCL support. And he said the reason the API isn't accessing the reservations on CentOS as firewall on CentOS is bounded. Whereas on Ubuntu, firewall is wide open.

He suggested that if they are working on getting us the specified Ubuntu VMs, then we can stop our efforts on booting spark on CentOS. I am holding it for time being.

Till then I will try runni

[2016-02-23 20:03] amritbhanu opened #58 "Parallelizing the reservation requests"
@chrisparnin Prof. Can we make the xmlrpc lib API calls to run in parallel? Current implementation is it requests for 1 image and then waits for image to load before making another set of requests.

[2016-02-23 20:11] chrisparnin commented on #58
Yes. I think it would be a good idea to try them in parallel.

On Tue, Feb 23, 2016 at 3:03 PM, Amritanshu Agrawal <
notifications@github.com> wrote:

[2016-02-25 07:39] amritbhanu opened #59 "Running the automated tool"
@gohilankit

Hey ankit, can you run these scripts? I have created the readme file which you can found in the repository link I am providing. Follow these steps, and create issues on the repository, so that I can help you out.

[Link] (https://github.com/amritbhanu/Spark_VCL)

[2016-02-25 17:31] amritbhanu opened #60 "Stress Results"
[Record](https://docs.google.com/a/ncsu.edu/spreadsheets/d/1QDYPoMAupWiq4DwJkKlYhn1LPU24IpBrYOFo41HiDuY/edit?usp=sharing)

Any suggestions on other parameters which are needed for doing stress results?

[2016-02-25 17:34] amritbhanu commented on #37
Setting up hdfs in Autospark scripts is completed.

[2016-02-25 17:34] #57 closed

[2016-02-25 17:36] amritbhanu opened #61 "Dataset generation"
@gohilankit Ankit, can you generate some dataset in the multiples of 2GBs and increasing them exponentially?
Provide me with some.

[2016-02-25 20:03] gohilankit commented on #61
To start with, I pre-processed the part data from wiki dump from XML format to plain text files.
This dataset is around 7 GB uncompressed with multiple files (each file is around 1 MB)

https://drive.google.com/a/ncsu.edu/file/d/0B06R5mbAQ-OKNTNpRW9WQ19PNTA/view?usp=sharing

You can start running LDA on this and I will work on generating a bigger corpus in the meantime.

[2016-02-25 20:11] amritbhanu commented on #61
Can you merge those files randomly into multiple of 2 GBs which can be 1 file? It will be easier for me to run the experiments.

[2016-02-26 01:50] gohilankit commented on #61
3 files at location below, approximately 2 GB each

https://drive.google.com/a/ncsu.edu/folderview?id=0B06R5mbAQ-OKUG52eHE1YThoYTA&usp=sharing

[2016-02-26 20:08] amritbhanu commented on #61
ankit, from the next time, please zip these files and upload it on drive. It will be easier for me to upload it on hdfs.
For next set of datasets, each file of 2gbs and then zip all those files in single 1.

[2016-02-29 16:37] gohilankit commented on #61
https://drive.google.com/a/ncsu.edu/file/d/0B06R5mbAQ-OKQkJxU1dUN2FjZU0/view?usp=sharing

[2016-02-29 22:23] amritbhanu opened #62 "Coding Standards"
For Spark to work in the best efficient way.
We have to make sure that all the data manipulation happens at the distributed nodes. If large amount is tried collected at the master (driver) node, it will through an error of GC Overhead limit (memory limit)

[2016-02-29 23:51] gohilankit commented on #37
@amritbhanu
I tested the scripts but found some issues with HDFS set up. A few that I noticed have been listed [here] (https://github.com/amritbhanu/Spark_VCL/issues/1)

[2016-03-01 00:03] amritbhanu commented on #37
For the 1st issue, it should work as you had an old rep at your local machine.

for the 2nd issue, our current setup we dont need anything configured on slave node. Slave nodes need all those configurations when we are using hadoop map -reduce scripts or code. Here we are just using distributed file system to store files, which only namenode needs to know where the other nodes are. Spark will do t

[2016-03-01 16:53] amritbhanu opened #63 "Stress Results"
## Experiments
- Modified the LDA experiment and made it the most parallel. Every data manipulation is happening on RDD.

## Results
- Tested only till 16 GB of dataset. Didn't need to go beyond 20 nodes. By increasing the nodes, we can reduce the runtime dramatically. As more slave nodes will be working on them.
- The limit is found out to be approx 80 GB that can be handled by 50 nodes.
- Reserv

[2016-03-02 18:11] amritbhanu commented on #63
- Fixed The LDA bug, and it was an algorithm issue. Before "EM" was used and now "Online"
- Most of the workers are not fully utilized.
- But look at the memory reduction per node needed

| Parameters (avg)       | 2 GB - 20 nodes | 2 GB - 45 nodes |
| ------------- |:-------------:|
| Total Time | 19 min | 10 min |
| Total used memory     | 12.5 GB / 90 GB | 2.4 GB / 90 GB |
|  RDD blocks |  7 |

[2016-03-02 18:48] gohilankit commented on #53
@amritbhanu  Papers from ACM. Contains both pdfs and extracted text files.

https://drive.google.com/a/ncsu.edu/file/d/0B06R5mbAQ-OKNWlmcWo0OU51ejQ/view?usp=sharing

[2016-03-02 21:17] chrisparnin commented on #63
Very good means scale allows "cheaper" and "smaller" nodes.

[2016-03-14 07:04] amritbhanu commented on #63
- The lda job with 2GB datset throws out an error saying memory limit threshold is exceeded on local machine. On local machine, it can't handle big datasets.
- Our standard rig of text mining is the same runtime as on local machine. As the rig is not spark coding standard for parallelizing. Only tested for 1 of SE websites.
- Datasets are preprocessed with Stemming, stopword removal.

## Results
#

[2016-03-15 17:20] amritbhanu opened #64 "HPC clusters"
https://github.com/ai-se/HPC-Clusters

[2016-03-15 18:56] amritbhanu commented on #64
- Also keep all the big datasets for preprocessing and the preprocessed datasets in the  /share (or /share2 or /share3) folder. Your home directory where the scripts will be installed has limited space.
- Run those scripts on different datasets like this shell script : -
[code]

[2016-03-18 08:10] amritbhanu commented on #58
done

[2016-03-18 08:10] #55 closed

[2016-03-18 08:10] #54 closed

[2016-03-22 16:19] amritbhanu opened #65 "Results - 03/22/2016"
## Experiments:
- ~300 GB of Wikidump (20-25%)
- Lots of time taken to do the usual preprocessing steps which are stemming, and stopwords removal.
- Used HPC for preprocessing different files and combination of them resulted into 41GB.
- But ran the lda job on only 28GB of preprocessed data, limitation on the hard disk space.
- 1st experiment - Top 50% tf-idf scores used to reduce the vocabsize.
-

[2016-03-28 19:48] amritbhanu opened #66 "Results - 03/28/2016"
## Experiments:
- Whole Wikipedia
- Lots of time taken to do usual preprocessing steps.
- Preprocessed to get top 5% and top 10% tfidf scores.
- Approximately to 2 - 2.5 GB
- Used an Online Lda optimizer feature inbuilt inside spark mllib. It is less memory extensive.

## Results:
| Parameters     | 5% tfidf scores - 34 nodes | 10 % tfidf score - 34 nodes | original result for 2 GB - 30 nodes |
|

[2016-03-28 19:49] amritbhanu commented on #66
Remaining is to test the cluster goodness.

[2016-03-29 17:11] amritbhanu commented on #66
- [ ] Jaccards Similarity
- [ ] Topic Stability
- [ ] Page Coverage
- [ ] Pages missed

@timm @chrisparnin Prof these are 200 mil documents and Each line is  a paragraph

[2016-03-31 05:31] amritbhanu opened #67 "Assessing the cluster goodness"
## Jaccard Similarity Experiments
- Repeats: 10
- 300 topics are generated in total over 10 runs, and each run is having 30 topics. Want to see how many topics are produced in subsequent runs.

###Results

### For top5% tfidf scores
X_axis: Jaccard's similarity score when x number of matched terms occur in the intersection of 2 topics

![file](https://github.com/alt-code/AutoSpark/raw/master/Amrit

[2016-03-31 05:31] amritbhanu commented on #67
@timm Prof, any comments on this?

[2016-04-01 23:06] amritbhanu commented on #58
Modified the process, and now I can reserve 45 nodes in ~20-25 mins. I haven't seen any nodes dying off. But will check once, I connect through remote.